<section class="container flex flex-column flex-center">
  <h1 class="header">{{ isLogin ? "LOGIN" : "Register" }}</h1>
  <form class="flex flex-column" #f="ngForm" (submit)="onSubmit(f)">
    <input
      #name
      type="text"
      name="name"
      placeholder="Username"
      required
      *ngIf="!isLogin"
      ngModel
    />
    <input
      #email
      type="email"
      name="email"
      placeholder="Email"
      required
      ngModel
    />
    <input
      #password
      type="password"
      name="password"
      placeholder="Password"
      required
      ngModel
    />
    <button type="submit" class="pointer">Login</button>
  </form>
  <p class="link mv pointer" (click)="setLogin()">
    {{
      this.isLogin
        ? "Don't Have an Account? Register"
        : "Have An Account? Login"
    }}
  </p>
</section>
